body{
    background: yellowgreen;
    font: normal 17pt Arial;

}
header{
    color: black;
    text-align: center;
    padding: 2.5%

}
section{
    background: white;
    border-radius: 35px;
    padding: 20px;
    width: 400px;
    margin:auto;
    box-shadow: 5px 10px 15px rgba(236, 7, 7, 0.733);

}
footer{
    color:rgb(122, 116, 116);
    text-align: center;
    font-style: italic;
    padding: 5%;
}